/* cardType */
body {
    background-color: #f3f3f3;
}

.cardType {
    margin: 150px 0;
    background-color: #fff;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}

/* cardType01 */
.cardType01 {
    font-family: 'GmarketSans';
    padding: 100px 0;
}

.cardType01 h2 {
    font-weight: 500;
    font-size: 50px;
    margin-bottom: 7px;
}

.cardType01 p {
    font-weight: 200;
    font-size: 26px;
    line-height: 1.28;
    margin-bottom: 40px;
}

/* float을 이용한 레이아웃 */
/* .card-wrap {
    overflow: hidden;
}

.card-wrap > div {
    float: left;
    width: 387px;
    margin-right: 19px;
}

.card-wrap > div:last-child {
    margin-right: 0;
} */

/* flex를 이용한 레이아웃 */
.cardType01 .card-wrap {
    display: flex;
    justify-content: space-between;
}

.cardType01 .card-wrap>div {
    width: 325px;
}

.cardType01 .card .card-title {
    display: block;
    font-size: 32px;
    white-space: nowrap;
    /* 한줄 효과 */
    overflow: hidden;
    text-overflow: ellipsis;
}

.cardType01 .card .card-desc {
    display: block;
    font-size: 20px;
    font-weight: 300;
    overflow: hidden;
    /* 두줄 효과 */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.cardType01 .card .card-keyword {
    font-size: 16px;
    font-weight: 300;
    opacity: 0.5;
}



/* cardType02 */
.cardType02 {
    font-family: 'S-CoreDream';
    padding: 150px 0;
}

.cardType02 h2 {
    font-weight: 500;
    font-size: 50px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 50px;
}

.cardType02 p {
    font-weight: 300;
    font-size: 26px;
    line-height: 1.28;
    text-align: center;
}

.cardType02 .card-wrap {
    display: flex;
}

.cardType02 .card-wrap .card {
    width: 285px;
    margin: 40px 20px 0 0;
    padding: 15px 15px 16px 14px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
}

.cardType02 .card-wrap .card .card-title {
    display: block;
    margin: 14px 0 10px 0;
    font-size: 24px;
    font-weight: 500;
    overflow: hidden;
}

.cardType02 .card-wrap .card .card-desc {
    margin: 10px 0 13px 0;
    font-size: 14px;
    font-weight: 300;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.cardType02 .card-wrap .card .but {
    background-color: #000;
    color: #fff;
    border-radius: 20px;
    padding: 2px 10px 2px 10px;
    text-align: center;
    margin-right: 10px;
}


/* cardType03 */
.cardType03 {
    font-family: 'NEXON Lv1 Gothic OTF';
    padding: 150px 0;
}
.cardType03 h2 {
    font-size: 50px;
    font-weight: 700;
    text-align-last: left;
    display: block;
}
.cardType03 p {
    display: inline;
    font-size: 18px;
    line-height: 1.8;
}
.cardType03 .new{
    color: #ff7300;
    float: right;
    margin-right: 15px;
}
.cardType03 .pop {
    float : right;
}
.cardType03 .chimg {
    width: 15px;
    height: 15px;

}
.cardType03 .card-wrap {
    padding: 45px 0 0 0;
}

.cardType03 .card-wrap .div-wrap {
    height: 220px;
    display: block;

}
.cardType03 .card-wrap .card{
    overflow: hidden;    
}
.cardType03 .card-wrap .div-wrap .card-title {
    font-size: 25px;
    font-weight: bold;
    display: block;
    margin: 10px;
    
    
}
.cardType03 .card-wrap .div-wrap .card-desc {
    height: 895px;
    font-size: 16px;
    line-height: 1.53;
    margin: 14px 2px 20px 0px;
    display: inline;
    text-align: left;
}


.cardType03 .card-wrap .card .card-img {
    display: block;
    width: 285px;
    height: 185px;
    flex-grow: 0;
    margin: 0 19px 0 3px;

    border-radius: 10px;
    float: left;
}
    

.cardType03 .card-wrap .div-wrap .date {
    font-size: 14px;
    line-height: 14px;
    color: rgb(134, 134, 134);
    text-decoration: underline;
    margin: 16px 0 0 0;
}

.cardType03 .card-wrap .but-red {
    font-size: 13px;
    font-weight: 400;
    display:inline-block;
    color: #fff;
    padding: 3px 20px 3px;
    border-radius: 20px;
    background-color: #ff7300;
    text-transform: uppercase;
}
.cardType03 .card-wrap .but-blue {
    font-size: 13px;
    font-weight: 400;
    display:inline-block;
    color: #fff;
    padding: 3px 20px 3px;
    border-radius: 20px;
    background-color: #0059ff;
    text-transform: uppercase;
}

.cardType03 .card-wrap .but-green {
    font-size: 13px;
    font-weight: 400;
    display:inline-block;
    color: #fff;
    padding: 3px 20px 3px;
    border-radius: 20px;
    background-color: #009e22;
    text-transform: uppercase;
}