// #mainCont
// #aboutCont
// #referCont
// #scriptCont
// #portCont

// #mainCont
#mainCont {
    background-color: #000;
    height: 100vh;
    color: #fff;
    font-family: 'saol';
    font-size: 9vw;
    line-height: .91;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;

    br {
        display: none;
    }
}

#mainCont2 { 
    background: url(../img/bg2.jpg) no-repeat center top;
    height: 100vh;
    color: #fff;
    font-family: 'Cormorant Upright', serif;
    font-size: 6vw;
    line-height: .91;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 100px;


    .main__tit {
        font-family: 'Cinzel Decorative', cursive;
        padding-left: 300px;
        
    }

    br {
        display: none;
    }
}



@media (max-width: 800px){
    #mainCont2 {
        font-size: 12vw;
        padding-left: 20px;

        .main__tit{
        padding-left: 130px;
        }
        br {
            display: block;
        }
    }
}
